.my-row {
 margin: 2px;

}
.col-element{
  display: inline-block;
}

.my-col{
  margin: 4px;
}

.col-imageproduct{
  background: #FFFFFF;
  border-radius: 14px;
  height: 130px;
  width: 130px;
}

.col-productid{
background: #FFFFFF;
border-radius: 14px;
height: 130px;
width: 130px;


}

.productid{

  font-family: Avenir;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color:#888CA9;

}

.imageproduct{
  border-radius: 10px;
  height: 110px;
  width: 110px;

}

.col-productdetail{
  background: #FFFFFF;
  border-radius: 14px;
}

.col-productprice{
  font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 18px;
color: #0FCB5A;
}

.col-faicon{
  background: #DFE1E6;
  height: 20px;
  border-radius: 0px;

}
.producttitle{
  font-family: Avenir;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #3F4457;


}
.timenow{
font-family: Avenir;
font-size: 10px;
font-style: normal;
font-weight: 800;
line-height: 11px;
color: #A9B0BE;
height: 11px;
width: 42px;
border-radius: 3px;
background: #F1F2F6;

}

.global{
height: 68px;
width: 469px;
top: 31px;
border-radius: 0px;
position: absolute;
left: 4%;
top: 23.85%;
bottom: 23.85%;

}


.ico2{
  color: #8F23FE;
  font-family: Avenir;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 11px;
  height: 11px;
  width: 42px;
  border-radius: 3px;
  background: #F1F2F6;
}
.ico3{
  background: #F7E1E1;
  border-radius: 11px;
  text-align: center;
  padding-bottom: 5px;
  padding-left: 1px;
}
.ico4{
  text-align: center;
  border-radius: 11px;
  background: #F4EEBD;
  padding-bottom: 5px;
  padding-left: 1px;

}
.ico5{
  text-align: center;
  border-radius: 11px;
  background-color: #F7E1E1;
  padding-bottom: 5px;

}
.col-size{
  height: 20px;
  border-radius: 0px;

}

.globalend{
  height: 68px;
width: 469px;
border-radius: 0px;
position: absolute;
left: 101%;
top: 40%;
bottom: 23.85%;
}



