<div class="row  my-row">

  <div class="col-2  text-center my-col col-productid">
    <span class="productid">
      {{ product.productId }}
    </span>
  </div>

  <div class="col-2  text-center my-col col-imageproduct">
    <img class="imageproduct" src='{{product.imagePath}}' width="60px">
  </div>


  <div class="col-md-7  my-col col-productdetail">
     <div class="global">
      <div class="row  my-row col-element " >
        <span class="producttitle">
         {{product.title}}
        </span>
        <span class="ico1">
          <img src='../../assets/products/v5.png' width="25px">
        </span>

        <span class="timenow">{{product.createdAt | pipes}}</span>&nbsp;
        <span  class="ico2">Dropship</span>&nbsp;
        <span  class="ico3">
          &nbsp;
          <img src='../../assets/products/v6.png' width="9px">
          &nbsp;
        </span>&nbsp;
        <span  class="ico4">
          &nbsp;
          <img src='../../assets/products/v7.png' width="9px">
          &nbsp;
        </span>&nbsp;
        <span  class="ico5">
          &nbsp;
          <img src='../../assets/products/v8.png' width="9px">
          &nbsp;
        </span>
       </div>
       <div class="row justify-content-start my-row col-iconend">
        <span >
          <img src='../../assets/products/v12.png' width="25px">
        </span>
        <span>
          <img src='../../assets/products/v1.png' width="25px">
        </span>&nbsp;&nbsp;
        <span>
          <img src='../../assets/products/v17.png' width="25px">
        </span>
        <span>
          <img src='../../assets/products/v2.png' width="25px">
        </span>&nbsp;&nbsp;

        <span>
          <img src='../../assets/products/v13.png' width="25px">
        </span>
        <span>
          <img src='../../assets/products/v3.png' width="25px">
        </span>&nbsp;&nbsp;


        <span>
          <img src='../../assets/products/v14.png' width="25px">
        </span>
        <span>
          <img src='../../assets/products/v4.png' width="25px">
        </span>

       </div>
       <div class="row justify-content-end my-row " >
        <div class="globalend">
         <span class="col-productprice">
          ${{product.price}}
         </span>&nbsp;&nbsp;
         <span class="col-size">
          <img src='../../assets/products/v20.PNG' width="20px">
        </span>&nbsp;
        <span class="col-size">
          <img src='../../assets/products/v10.png' width="20px">
        </span>&nbsp;
        <span class="col-size">
          <img src='../../assets/products/v11.png' width="20px">
        </span>

       </div>

       </div>


     </div>



  </div>

</div>

